.contact10-container1 {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact10-max-width {
  align-self: center;
}
 
.contact10-container2 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}
 
.contact10-content1 {
  width: 100%;
  margin-bottom: var(--dl-layout-space-threeunits);
  justify-content: flex-start;
}
 
.contact10-content2 {
  gap: var(--dl-layout-space-unit);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact10-content3 {
  width: 100%;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
 
.contact10-container3 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.contact10-slider {
  width: 500px;
  height: 300px;
  display: inline-block;
}
 
.contact10-slider-slide1 {
  display: flex;
  background-size: 100%;
  background-image: url('https://images.unsplash.com/photo-1697384333613-de519c7367c4?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY5OTk3NzAzN3w&ixlib=rb-4.0.3&q=80&w=400');
}
 
.contact10-slider-slide2 {
  display: flex;
  background-size: 100%;
  background-image: url('https://images.unsplash.com/photo-1697384333613-de519c7367c4?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY5OTk3NzAzN3w&ixlib=rb-4.0.3&q=80&w=400');
}
 
.contact10-slider-slide3 {
  display: flex;
  background-size: 100%;
  background-image: url('https://images.unsplash.com/photo-1697384333613-de519c7367c4?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY5OTk3NzAzN3w&ixlib=rb-4.0.3&q=80&w=400');
}
 
.contact10-slider-slide4 {
  display: flex;
  background-size: 100%;
  background-image: url('https://images.unsplash.com/photo-1697384333613-de519c7367c4?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY5OTk3NzAzN3w&ixlib=rb-4.0.3&q=80&w=400');
}
 
.contact10-slider-slide5 {
  display: flex;
  background-size: 100%;
  background-image: url('https://images.unsplash.com/photo-1697384333613-de519c7367c4?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY5OTk3NzAzN3w&ixlib=rb-4.0.3&q=80&w=400');
}
 
.contact10-slider-pagination {
  display: block;
}
 
.contact10-fragment {
  display: contents;
}
 
.contact10-text2 {
  display: inline-block;
}
 

 

 
@media(max-width: 991px) {
  .contact10-content1 {
    align-items: flex-start;
    justify-content: flex-start;
  }
  .contact10-content3 {
    position: relative;
    align-items: center;
    flex-direction: column;
  }
}
 
@media(max-width: 767px) {
  .contact10-content1 {
    gap: var(--dl-layout-space-oneandhalfunits);
  }
}
 
@media(max-width: 479px) {
  .contact10-container1 {
    padding-left: 0px;
    padding-right: 3px;
  }
  .contact10-text1 {
    top: 52px;
    left: 72px;
    width: 305px;
    height: 72px;
    position: absolute;
    align-self: center;
  }
  .contact10-content2 {
    position: relative;
  }
  .contact10-content3 {
    width: 371px;
    height: 202px;
    padding: 0px;
    margin-top: 16px;
    margin-bottom: 16px;
  }
  .contact10-slider {
    width: 359px;
    height: auto;
    overflow-x: hidden;
  }
  .contact10-slider .swiper-wrapper {
    display: flex !important;
    width: 100% !important;
    justify-content: center;
    align-items: center;
    transform: none !important;
    transition: none !important;
    padding-left: 0;
    padding-right: 0;
  }

  .contact10-slider .swiper-slide {
    width: 65px !important;
    height: 60px !important;
    margin-right: 8px;
    flex-shrink: 0;
    background-size: cover;
    background-position: center;
  }

  .contact10-slider .swiper-slide:last-child {
    margin-right: 0;
  }

  .contact10-slider-slide1 {
    background-image: url("public/BONUS/bonus2-200h.jpg");
  }
  .contact10-slider-slide2 {
    background-image: url("public/BONUS/bonus1-200h.jpg");
  }
  .contact10-slider-slide3 {
    background-image: url("public/BONUS/bonus3-200h.jpg");
  }
  .contact10-slider-slide4 {
    background-image: url("public/BONUS/bonus4-200h.jpg");
  }
  .contact10-slider-slide5 {
    background-image: url("public/BONUS/bonus5-200h.jpg");
  }

  .contact10-slider .contact10-slider-pagination,
  .contact10-slider .swiper-button-prev,
  .contact10-slider .swiper-button-next {
    display: none !important;
  }
}
